body {
	background-color: #fff;
	color: #72BC72;
	font-family: Arial Black, sans-serif;
}

h1 {
	text-transform: uppercase;
}

.heading {
	background: url("logo_background.png");
}

.status {
	width: 134px;
	height: 43;
	border: 0;
	padding: 5 0 0 0;
	background: url(s_bg.gif) no-repeat #D7D7D7;
	font-size: 12px;
	font-family: Arial;
	text-align: center;
	line-height: 16px;
}

.status_body {
	margin: 0px;
}

td {
	font-size: 12px;
}

.heading_bar {
	
}

.menu_bar {
	padding: 4px;
	background-color: #23803f;
	color: white;
	font-weight: bold;
	font-size: 13px;
}

A.menu_bar {
	color: white;
}